<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <description>welcome page (menu utama)</description>
        <servlet-name>Dashboard</servlet-name>
        <jsp-file>/welcome.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>adding data (tambah data)</description>
        <servlet-name>Input Page</servlet-name>
        <jsp-file>/dataadd.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Search in Login Mode</description>
        <servlet-name>Search Page</servlet-name>
        <jsp-file>/searchin.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Insert penduduk data to DB</description>
        <servlet-name>InsPenduduk</servlet-name>
        <servlet-class>servlet.InsPend</servlet-class>
    </servlet>
    <servlet>
        <description>Page untuk memanajemen user</description>
        <servlet-name>Manajemen User</servlet-name>
        <jsp-file>/manuser.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Page untuk manajemen operator</description>
        <servlet-name>Manajemen Operator</servlet-name>
        <jsp-file>/manoper.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Page untuk manajemen parameter</description>
        <servlet-name>Manajemen Parameter</servlet-name>
        <jsp-file>/parameter.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>untuk dapatin yang di cari</description>
        <servlet-name>Get Cari Penduduk</servlet-name>
        <servlet-class>servlet.SearchNIK</servlet-class>
    </servlet>
    <servlet>
        <description>untuk nambahin user</description>
        <servlet-name>New User</servlet-name>
        <servlet-class>servlet.InsUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Input Page</servlet-name>
        <url-pattern>/inputdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search Page</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsPenduduk</servlet-name>
        <url-pattern>/inpend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manajemen User</servlet-name>
        <url-pattern>/manage-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manajemen Operator</servlet-name>
        <url-pattern>/manage-op</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manajemen Parameter</servlet-name>
        <url-pattern>/parameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get Cari Penduduk</servlet-name>
        <url-pattern>/caripen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New User</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
